Package: com.zerox.PhotoOrganizerFix
Name: PhotoOrganizerFix
Version: 1.1-1
Description: Fix for PhotoOrganizer8's "Import & Sync" & "Sort By" under iOS 9.x
Section: Tweak
Depends: firmware (>= 9.0), mobilesubstrate
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: ZeroX <lawliet0914@gmail.com>
dev: 
Homepage: https://github.com/zerox333/PhotoOrganizerFix
Depiction:
Maintainer: ZeroX <lawliet0914@gmail.com>
Icon: 

